html, body{
	margin: 0;
	padding: 0;
	min-height: 100%;
	overflow: hidden;
}
body{
	min-height: 100%;
	background-image: url("../img/dust_scratches.png");
	// font-family: "arial", "sans-serif";
	font-family: 'Roboto', sans-serif;
}
*{
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color: black;
}
.u-linkBlend:not(:focus):not(:hover):not(:active) {
	display: none;
}

header {
	nav {
		// #C9AE4B
		background-color: #292f33;
		color: white;
		position: absolute;
		left: 0;
		width: 15%;
		height: 100vh;
		text-align: left;
		transform: translateX(-70%);
		transition: 0.4s;

		a {
			display: inline-block;
			position: relative;
		    padding: 20px 15px;

			h1 {
				margin: 0;
				color: white;
			}
		}
		.burger-menu {
			position: absolute;
			cursor: pointer;
			top: 20px;
			right: 19px;

			span {
				display: block;
				background-color: white;
				width: 55px;
				height: 8px;
			}
			span:nth-of-type(2) {
				margin: 10px 0;
			}
		}
	}
	.active-menu {
		transform: translateX(0%);
	}
}

main {
	background-image: url("../img/dust-scratches.png");
	text-align: center;
	border: 1px solid #292f33;
	width: 100vw;
	height: 100vh;

	.container {
		margin: auto;
		border: 10px solid #292f33;
		width: 100vw;
		height: 100vh;

		img {
			border: 1px solid #292f33;
		}
	}
}
