html, body{
	margin: 0;
	padding: 0;
	min-height: 100%;
	// overflow: hidden;
}
body{
	min-height: 100%;
	// font-family: "arial", "sans-serif";
	font-family: 'Roboto', sans-serif;
}
*{
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color: black;
}
.u-linkBlend:not(:focus):not(:hover):not(:active) {
	display: none;
}

.hide {
	display: none;
}

body {
	header {
		nav {
			// #C9AE4B
			background-color: #12161B;
			color: white;
			position: fixed;
			left: 0;
			width: 300px;
			height: 100%;
			text-align: left;
			transform: translateX(-70%);
			transition: .4s;
			border-right: 2px solid #C9AE4B;

			a {
				display: inline-block;
				position: relative;
			    padding: 20px 15px;

				h1 {
					margin: 0;
					color: white;
				}
			}
			.burger-menu {
				position: absolute;
				cursor: pointer;
				top: 20px;
				right: 19px;

				span {
					border: 1px solid #C9AE4B;
					display: block;
					background-color: white;
					width: 55px;
					height: 8px;
				}
				span:nth-of-type(2) {
					margin: 10px 0;
				}
			}
		}
		.active-menu {
			transform: translateX(0%);
		}
	}

	main {
		background-image: url("../img/dust_scratches.png");
		text-align: center;
		width: auto;
		height: auto;
		padding-left: 90px;
		transition: .4s;

		.shadow {
			z-index: 99;
			position: absolute;
			width: 100%;
			height: 100%;
			opacity: 0;
			visibility: hidden;
			background-color: black;
			transition: .4s;
			margin-left: -90px;
		}

		.shadow-active {
			opacity: .5;
			visibility: visible;
		}

		.container {
			// border: 10px solid #292f33;
			width: auto;
			height: auto;
			padding: 50px;

			h2 {
				margin-bottom: 50px;
			}

			.gallery {
				.imgFocus {
					border: 1px solid black;
					position: absolute;
					width: auto;
					height: auto;
				}
				.item {
					cursor: pointer;
					border: 2px solid #C9AE4B;
					display: inline-block;
					width: 30%;
				    height: auto;
					margin: 10px;

					img {
						width: 100%;
					}
				}
			}
		}
	}

	.push-content {
		margin-left: 300px;
	}
}
